<% User.where(role: "manager").each do |manager| %>
  <h2><%= manager.firstname + " " + manager.lastname + "'s team" %></h2>
  <ul>
    <% User.where(manager_id: manager.manager_id, role: "staff").each do |staff| %>
      <li><%= staff.firstname + " " + staff.lastname + " (" + staff.email + ")" %></li>
    <% end %>
  </ul>
<% end %>